*.csv
*.pdf
__pycache__/
*.pyc
.venv/
venv/
.env
.pytest_cache/

# Test files and directories
test_files/
test_files/*

# Python environments and versions
.python-version
.venv/
venv/
env/
.env

# MacOS
.DS_Store

# PyInstaller / Build artifacts
build/
dist/
*.spec

# Ngrok Configuration
ngrok.yml

